sap.ui.define([
	"sap/ui/core/mvc/Controller",
    "${projectName}/util/Config",
    "sap/m/MessageBox",
    "sap/ui/model/json/JSONModel"
], function(Controller, Config, MessageBox, JSONModel) {
	"use strict";

	return Controller.extend("${projectName}.controller.Details", {

		onBeforeRendering : function() {},
		
		onInit : function() {
			this.getView().setModel(new JSONModel(), "details");
		}
	});
});
