sap.ui.define([
	"sap/ui/core/UIComponent",
	"${projectName}/util/Config",
	"sap/ui/model/json/JSONModel",
	"sap/ui/Device"
], function(UIComponent, Config, JSONModel, Device) {
	"use strict";

	return UIComponent.extend("${projectName}.Component", {

		metadata : {
			manifest : "json"
		},

		init : function() {
			UIComponent.prototype.init.apply(this, arguments);
		}

	});

});
